<div class=" bg-white  min-h-screen w-screen flex flex-col justify-center items-center ">
  <div
    class="rounded-2xl bg-white shadow-none sm:shadow-md px-8 sm:px-12 w-full xs:w-full sm:w-8/12 md:w-7/12 lg:w-7/12 xl:w-2/6 h-screen sm:h-auto py-8">
    <div class="text-center w-full font-bold text-3xl text-gray-600 p-4">
      Đăng nhập

    </div>
    <h4 class="">Nếu bạn chưa có tài khoản? <a class="text-purple-500" href="">Tạo mới tài khoản</a></h4>
    <div class="w-full bg-gray-200 my-3" style="height: 1px"></div>
    <form id="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="flex flex-col gap-4 px-0 py-4">
        <div>
          <label class="text-gray-700 mb-16 ">Email</label>
          <input class=" mt-3 rounded-lg py-2 pl-1 border border-gray-200 w-full" id="email" placeholder="email" name="email" type="email"  ngModel required minlength="6" #email="ngModel" />
          <small id="emailHid" *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="text-red-500">Email bị trống
            hoặc không hợp lệ</small>
        </div>
        <div>
          <label class="text-gray-700">Mật khẩu</label>

          <input class="mt-3 rounded-lg py-2 pl-1 border border-gray-200 w-full" placeholder="Mật khẩu" type="Mật khẩu"  name="password" ngModel required minlength="6"
          #password="ngModel" />
          <small *ngIf="!password?.valid &&(password?.dirty || password?.touched) " id="passwordHid"
          class="text-red-500">Mật khẩu bị trống hoặc không hợp lệ</small>
          <div class="w-full flex flex-row justify-start">
            <a class="mt-3" href="#">Quên mật khẩu</a>
          </div>
        </div>
        <div class="w-full flex flex-row justify-center">
          <button
            class="font-bold rounded-xl border bg-purple-900 border-purple-700  hover:bg-white  hover:text-indigo-500 duration-100 ease-in-out w-full text-white p-0 flex flex-row justify-center items-center gap-1 h-10"
            type="submit">
            Đăng nhập
          </button>

        </div>
        <div class="my-2 flex flex-row justify-center">
          <span class="absolute bg-white px-4">hoặc</span>
          <div class="w-full bg-gray-200 mt-3" style="height: 1px"></div>
        </div>

        <div class="w-full flex justify-around flex-1">
          <button
            class="rounded-2xl  mr-7 bg-blue-900 text-white w-44 p-2 flex flex-row justify-center gap-2 items-center hover:bg-red-600 duration-100 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true"
              role="img" class="w-5" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024">
              <path
                d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-92.4 233.5h-63.9c-50.1 0-59.8 23.8-59.8 58.8v77.1h119.6l-15.6 120.7h-104V912H539.2V602.2H434.9V481.4h104.3v-89c0-103.3 63.1-159.6 155.3-159.6c44.2 0 82.1 3.3 93.2 4.8v107.9z"
                fill="currentColor" />
            </svg>


          </button>
          <button
            class="border border-gray-500 rounded-2xl bg-white text-white w-44 p-2 flex flex-row justify-center gap-2 items-center hover:bg-blue-700 duration-100 ease-in-out">
            <img class="w-5" src="https://cdn-icons-png.flaticon.com/512/281/281764.png" alt="">
          </button>

        </div>

      </div>
    </form>
  </div>

</div>
